html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-image: url("cloud_wallpaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header>nav {
    display: flex;
    justify-content: center;
    gap: 32px;

    padding: 32px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48px;
    width: 100vw;
    font-size: x-small;
}

button {
    border: none;
    background-color: #b7ddf4;
    border-radius: 8px;

    width: fit-content;

    padding: 8px 16px;
}

div#content {
    background-color: #ffffff;
    border: solid #b7ddf4;

    width: 60%;
    padding: 16px;

    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {

}

div#content h2 {
    margin-bottom: 0;
}

div#content p+p {
    margin-top: 0;
}

div#content form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

div#content input, div#content textarea {
    margin: 8px;
    border: none;
    background-color: #b7ddf4;
    border-radius: 8px;
    padding: 8px;
}

div#content button {
    margin: 0 auto;
}

h3.menu-item {
    margin-bottom: 0;
}

p.menu-item {
    text-align: center;
    margin: 4px 0;
    max-inline-size: 60ch;
}

h4.menu-item {
    margin-top: 0;
}

hr {
    flex-grow: 1;
    width: 60%;
}
