body {
    margin: 0;
    background-image: url("cloud_wallpaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header>nav {
    display: flex;
    justify-content: center;
    gap: 32px;

    padding: 16px;
}

header>nav>button {
    border: none;
    background-color: #b7ddf4;
    border-radius: 8px;

    padding: 8px 16px;
}

div#content {
    background-color: #ffffff;
    border: solid #b7ddf4;

    width: 60%;

    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {

}